.section-specialty {
    height: 330px;
    background-color: #f5f5f5;
    border: 1px solid #000;

    .specialty-content {
        width: 1200px;
        margin: 0 auto;
        .border-test {
            border: 1px solid rgb(124, 3, 3);
            text-align: center;

            img {
                margin: 0 auto;
            }
        }

        .slick-prev {
            border: 1px solid #ccc;
        }

        .slick-next {
            border: 1px solid #ccc;
        }
    }
}