.section-specialty {
    height: 330px;
    background-color: #f5f5f5;
    border: 1px solid #000;

    .specialty-content {
        width: 1200px;
        margin: 0 auto;

        .specialty-title {
            display: flex;
            justify-content: space-between;
            margin: 20px 30px;
            h4 {
                font-weight: bold;
            }
        }

        .specialty-box-item {
            text-align: center;

            img {
                margin: 0 auto;
            }

            span {
                display: block;
                margin-top: 10px;
            }

            &:hover {
                span {
                    color:#49bce2;
                }
            }
        }

        .slick-prev {
            border: 1px solid #ccc;
            background-color: #fff;
            height: 40px;
            width: 40px;
            z-index: 100;
            margin-top: -15px;
            margin-left: 25px;
            opacity: 0.7;

            &::before {
                display: flex;
                justify-content:center;
                align-items: center;
                content: "\25C0" !important;
                color: rgb(110, 109, 109);
                font-weight: bold;
                margin-top: -4px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .slick-next {
            border: 1px solid #ccc;
            background-color: #fff;
            height: 40px;
            width: 40px;
            z-index: 100;
            margin-top: -15px;
            margin-right: 25px;
            opacity: 0.7;
            &::before {
                display: flex;
                justify-content:center;
                align-items: center;
                content: "\25B6" !important;
                color: rgb(110, 109, 109);
                font-weight: bold;
                margin-top: -4px;
            }
            &:hover {
                opacity: 1;
            }
        }
    }
}