.doctor-schedule-container {
    height: 100%;
    padding-bottom: 15px;
    .all-schedule {
        select {
            font-size: 14px;
            border-bottom: 1px solid rgb(146, 145, 145);
            border-top: none;
            border-right: none;
            border-left: none;
            outline: none;
            padding: 5px 0;
            color: #45c3d2;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .all-available-time {
        .text-calendar {
            margin: 10px 0;

            span {
                text-transform: uppercase;

                i {
                    margin-right: 5px;
                }
            }
        }

        .time-content {
            .time-content-btn {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                button {
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    background-color: #fff8ae;
                    font-weight: 600;
                    border-radius: 3px;
                    color: #333;

                    &:hover {
                        background-color: #45c3d2;
                        color: #fff;
                    }
                }

                .btn-vi {
                    min-width: 130px;
                }

                .btn-en {
                    min-width: 160px;
                }

                .no-schedule {
                    font-style: italic;
                    font-size: 14px;
                }
            }

            .booking-free {
                margin: 10px 0 0 0;
            }

        }
    }
}