.login-background {
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container {
        background-color: #fff;
        width: 400px;
        border-radius: 10px;
    }

    .login-content {
        padding: 10px 20px;

        .text-login {
            font-weight: 600;
            text-align: center;
            font-size: 24px;
            padding-top: 10px;
            margin-bottom: 20px;
        }

        .login-input {
            margin: 12px 0;
            .custom-input-password {
                display: flex;
                position: relative;

                i {
                    position: absolute;
                    right: 5px;
                    top: 10px
                }
            }

            input {
                margin-top: 5px;
            }
        }

        .btn-login {
            width: 100%;
            margin: 10px 0;
            height: 35px;
            outline: none;
            font-size: 16px;
            color: #fff;
            border: none;
            border-radius: 20px;
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        }

        .forgot-password {
            font-size: 12px;
        }

        .social-login {
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                font-size: 20px;
                height: 38px;
                width: 38px; 
                margin: 15px;
                border-radius: 50%;
                display: flex;
                justify-content:center;
                align-items: center;
            }
            .google {

                color:#fff;
                background-color: rgb(189, 78, 78);
            }
            .facebook {
                background-color:#335f91;
                color:#fff;
            }
        }
    }

}