.login-background {
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(64, 202, 138) 100%);

    .login-container {
        background-color: #fff;
        width: 400px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .login-content {
        padding: 10px;

        .text-login {
            font-weight: 600;
            text-align: center;
            font-size: 24px;
            padding-top: 10px;
        }

        .login-input {
            margin: 7px 0;
        }
    }

}