.login-background {
    height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    .login-container {
        background-color: #fff;
        width: 400px;
        margin: 0 auto;
        border-radius: 10px;
    }

    .login-content {
        padding: 10px;

        .text-login {
            font-weight: 600;
            text-align: center;
            font-size: 24px;
            padding-top: 10px;
        }

        .login-input {
            margin: 8px 0;
        }

        .btn-login {
            width: 100%;
            margin: 10px 0;
            height: 30px;
            outline: none;
            font-size: 35px;
            color: #fff;
            border: none;
            border-radius: 3px;
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
        }
    }

}