 .manage-patient-container{
    .manage-patient-body{
        padding: 10px;

        .table-manage-patient {
            #customers {
                font-family: Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
              }
              
              #customers td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
              }
              
              #customers tr:nth-child(even){background-color: #f2f2f2;}
              
              #customers tr:hover {background-color: #ddd;}
              
              #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #dae1bd;
                color: rgb(10, 7, 7);
              }

              .btn-confirm {
                background-color: rgb(38, 104, 38);
                color: #fff;
              }

              .btn-remedy {
                background-color: rgb(209, 156, 58);
                color: #fff;
                margin-left: 5px
              }
        }

    }
 }