@import "../../styles/common.scss";

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: $colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    .header-tabs-function {
        display: flex;
        align-items:center;

        .languages{
            margin-right: 10px;
            border: 1px solid #fff;
            border-radius:20px;
            padding: 2px 10px;
            .language-vi {
                margin-right: 10px;
            }

            &.active {
                font-weight: bold;
                color: rgb(206, 196, 66);
            }
        }
        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            &:hover {
                background-color: darken($colormain, 5);
            }
            i {
                font-size: $base-size + 1px;
            }
        }
    }
}