.manage-specialty-container {
    padding: 0 20px;

    .add-new-specialty {
        .btn-save-specialty {
            border: none;
            outline: none;
            padding: 4px 10px;
            border-radius: 3px;
            background-color: orange;
        }
    }

}