.slick-prev {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 40px;
    width: 40px;
    z-index: 100;
    margin-top: -15px;
    margin-left: 25px;
    opacity: 0.7;

    &::before {
        display: flex;
        justify-content:center;
        align-items: center;
        content: "\25C0" !important;
        color: rgb(110, 109, 109);
        font-weight: bold;
        margin-top: -4px;
    }

    &:hover {
        background-color:#fff;
        opacity: 1;
    }
}

.slick-next {
    border: 1px solid #ccc;
    background-color: #fff;
    height: 40px;
    width: 40px;
    z-index: 100;
    margin-top: -15px;
    margin-right: 25px;
    opacity: 0.7;

    &::before {
        display: flex;
        justify-content:center;
        align-items: center;
        content: "\25B6" !important;
        color: rgb(110, 109, 109);
        font-weight: bold;
        margin-top: -4px;
    }

    &:hover {
        background-color:#fff;
        opacity: 1;
    }
}


.section-share {
    height: 330px;
    border-bottom: 3px solid #efeef5;
    .section-content {
        width: 1200px;
        margin: 0 auto;

        .section-title {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            margin: 0 30px 20px 30px;
            h4 {
                font-weight: bold;
            }

            button {
                outline: none;
                border: none;
                background-color: rgb(233, 228, 228);
                padding: 2px 10px;

                &:hover {
                    background-color: #f7d800;
                    color: #fff;
                }
            }
        }

        .section-box-item {
            text-align: center;

            img {
                margin: 0 auto;
                border-radius: 5px;
                height: 180px;
                width: 285px;
                object-fit:cover
            }

            span {
                display: block;
                margin-top: 10px;
            }

            &:hover {
                span {
                    color:#49bce2;
                }
            }
        }
    }
}